<a href="https://colab.research.google.com/github/Augista/EAS_Classification-Data/blob/main/EASkomnumCLASSIFICATION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [18]:
data = 'EASKOMNUM.csv'

df = pd.read_csv(data, header=None)

# Memeriksa kolom yang ada dalam DataFrame
print("Kolom dalam DataFrame:", df.columns)

# Memeriksa tipe data setiap kolom
print("Tipe data setiap kolom:")
print(df.dtypes)

Kolom dalam DataFrame: Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')
Tipe data setiap kolom:
0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
dtype: object

In [19]:
# Mengonversi kolom yang memiliki nilai string menjadi numerik jika diperlukan
for col in df.columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

print("Data setelah konversi nilai string menjadi numerik:")
print(df.head())

Data setelah konversi nilai string menjadi numerik:
     0    1    2      3      4    5    6      7    8    9    10   11   12   13
0   NaN  NaN  NaN    NaN    NaN  NaN  NaN    NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0  0.0
2  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0  2.0
3  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0  1.0
4  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0  0.0

In [20]:
# Mengisi nilai yang hilang dengan KNN Imputer
imputer = KNNImputer(n_neighbors=5)
df_imputed = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)
print("Data setelah imputasi nilai yang hilang:")
print(df_imputed.head())

Data setelah imputasi nilai yang hilang:
          0         1         2           3           4         5         6   \
0  54.438944  0.679868  3.158416  131.689769  246.693069  0.148515  0.990099
1  63.000000  1.000000  1.000000  145.000000  233.000000  1.000000  2.000000
2  67.000000  1.000000  4.000000  160.000000  286.000000  0.000000  2.000000
3  67.000000  1.000000  4.000000  120.000000  229.000000  0.000000  2.000000
4  37.000000  1.000000  3.000000  130.000000  250.000000  0.000000  0.000000

           7         8         9        10        11        12        13
0  149.607261  0.326733  1.039604  1.60066  0.672241  4.734219  0.937294
1  150.000000  0.000000  2.300000  3.00000  0.000000  6.000000  0.000000
2  108.000000  1.000000  1.500000  2.00000  3.000000  3.000000  2.000000
3  129.000000  1.000000  2.600000  2.00000  2.000000  7.000000  1.000000
4  187.000000  0.000000  3.500000  3.00000  0.000000  3.000000  0.000000

In [22]:
# Normalisasi data ke rentang 0-1
scaler = MinMaxScaler()
df_normalized = pd.DataFrame(scaler.fit_transform(df_imputed), columns=df.columns)
print("Data setelah normalisasi:")
print(df_normalized.head())

Data setelah normalisasi:
        age  sex        cp  trestbps      chol  fbs  restecg   thalach  exang  \
0  0.708333  1.0  0.000000  0.481132  0.244292  1.0      1.0  0.603053    0.0
1  0.791667  1.0  1.000000  0.622642  0.365297  0.0      1.0  0.282443    1.0
2  0.791667  1.0  1.000000  0.245283  0.235160  0.0      1.0  0.442748    1.0
3  0.166667  1.0  0.666667  0.339623  0.283105  0.0      0.0  0.885496    0.0
4  0.250000  0.0  0.333333  0.339623  0.178082  0.0      1.0  0.770992    0.0

    oldpeak  slope        ca  thal   num
0  0.370968    1.0  0.000000  0.75  0.00
1  0.241935    0.5  1.000000  0.00  0.50
2  0.419355    0.5  0.666667  1.00  0.25
3  0.564516    1.0  0.000000  0.00  0.00
4  0.225806    0.0  0.000000  0.00  0.00

In [23]:
# fitur dan label kita pisahkan dulu (asumsi kolom terakhir adalah label)
X = df_normalized.iloc[:, :-1]
y = df_normalized.iloc[:, -1]
print("Fitur (X) setelah dipisahkan:")
print(X.head())
print("Label (y) setelah dipisahkan:")
print(y.head())

Fitur (X) setelah dipisahkan:
        age  sex        cp  trestbps      chol  fbs  restecg   thalach  exang  \
0  0.708333  1.0  0.000000  0.481132  0.244292  1.0      1.0  0.603053    0.0
1  0.791667  1.0  1.000000  0.622642  0.365297  0.0      1.0  0.282443    1.0
2  0.791667  1.0  1.000000  0.245283  0.235160  0.0      1.0  0.442748    1.0
3  0.166667  1.0  0.666667  0.339623  0.283105  0.0      0.0  0.885496    0.0
4  0.250000  0.0  0.333333  0.339623  0.178082  0.0      1.0  0.770992    0.0

    oldpeak  slope        ca  thal
0  0.370968    1.0  0.000000  0.75
1  0.241935    0.5  1.000000  0.00
2  0.419355    0.5  0.666667  1.00
3  0.564516    1.0  0.000000  0.00
4  0.225806    0.0  0.000000  0.00
Label (y) setelah dipisahkan:
0    0.00
1    0.50
2    0.25
3    0.00
4    0.00
Name: num, dtype: float64

In [24]:
# Konversi label menjadi tipe kategori
y = y.astype('int')
print("Label (y) setelah konversi ke tipe kategori:")
print(y.head())

Label (y) setelah konversi ke tipe kategori:
0    0
1    0
2    0
3    0
4    0
Name: num, dtype: int64

In [25]:
# Memisahkan data menjadi set pelatihan dan pengujian
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Training set size:", X_train.shape)
print("Testing set size:", X_test.shape)

Training set size: (242, 13)
Testing set size: (61, 13)

In [26]:
print("Fitur pelatihan (X_train):")
print(X_train.head())
print("Label pelatihan (y_train):")
print(y_train.head())
print("Fitur pengujian (X_test):")
print(X_test.head())
print("Label pengujian (y_test):")
print(y_test.head())

Fitur pelatihan (X_train):
          age  sex        cp  trestbps      chol  fbs  restecg   thalach  \
132  0.000000  1.0  0.333333  0.339623  0.178082  0.0      1.0  1.000000
202  0.583333  1.0  0.666667  0.528302  0.000000  1.0      0.0  0.778626
196  0.833333  1.0  0.000000  0.622642  0.246575  1.0      1.0  0.458015
75   0.750000  0.0  0.666667  0.622642  0.534247  0.0      1.0  0.610687
176  0.479167  1.0  1.000000  0.132075  0.244292  1.0      0.0  0.580153

     exang   oldpeak  slope        ca  thal
132    0.0  0.000000    0.0  0.000000   0.0
202    0.0  0.032258    0.0  0.333333   1.0
196    0.0  0.016129    0.5  0.333333   0.0
75     0.0  0.129032    0.0  0.000000   0.0
176    0.0  0.016129    0.0  1.000000   1.0
Label pelatihan (y_train):
132    0
202    0
196    0
75     0
176    0
Name: num, dtype: int64
Fitur pengujian (X_test):
          age  sex        cp  trestbps      chol  fbs  restecg   thalach  \
179  0.500000  1.0  0.666667  0.339623  0.273973  1.0      1.0  0.778626
228  0.520833  1.0  1.000000  0.150943  0.182648  0.0      1.0  0.282443
111  0.562500  1.0  1.000000  0.292453  0.280822  1.0      1.0  0.557252
246  0.604167  1.0  1.000000  0.056604  0.246575  0.0      0.0  0.648855
60   0.458333  0.0  1.000000  0.339623  0.408676  0.0      0.0  0.541985

     exang   oldpeak  slope        ca  thal
179    0.0  0.000000    0.0  1.000000   0.0
228    1.0  0.000000    0.5  0.333333   0.0
111    1.0  0.193548    0.5  0.333333   0.0
246    0.0  0.016129    0.0  0.333333   1.0
60     1.0  0.193548    0.5  0.000000   1.0
Label pengujian (y_test):
179    0
228    0
111    0
246    0
60     0
Name: num, dtype: int64